#carousel {
  max-width: 100%;
  max-height: 400px;
  img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
  }
}

.testimonials {
  padding: 25px 0;
  background: #F7F7F7;
  .headline {
    text-align: center;
  }
}
